{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/plans.css') }}">
{% endblock %}

{% block content %}
  <div class="container mx-auto p-2 mt-4" style="width: 70%">
    <form id="plans" method="POST">
      <h2 class="mb-2 font-bold">Choose a Plan</h2>
      <select name="plan" form="plans" id="plan-select" autofocus>
        <option value="free">Free</option>
        <option value="premium">Premium</option>
        <option value="enterprise">Enterprise</option>
      </select>
      <button type="submit" id="choose-plan-btn" class="bg-sky-700">Choose Plan</button>
    </form>

    <div id="csv-files">
      <h3>CSV Files</h3>
      <ul>
        <li><a href="data:text/txt;base64,SmFudWFyeSxGZWJydWFyeSxNYXJjaCxBcHJpbA0KMTAwLDEwMCw1MDAsMTIwDQoxNjAsMTAwLDMwMCwxMzANCjIwNSwxNDAsMjEwLDE1MA0KMzMzLDEwMiwxMzAsMTAwDQo=" download>SampleCSV.csv</a></li>
        <li><a href="data:text/txt;base64,SW5kaWNhdG9yLE1ldHJpYyxMb2NhdGlvbixWYWx1ZSxUb3RhbCBQb3B1bGF0aW9uLFdlaWdodCx3X2kNCkxpZmUgRXhwZWN0YW5jeSxDYW5jZXIgTW9ydGFsaXR5LFVuaXRlZCBTdGF0ZXMsNjE2NzE0LDMyNzIwMDAwMCwwLjAwMTg4NDgyMywxMTYyLjM5NjU3DQosSGVhcnQgRGlzZWFzZSBNb3J0YWxpdHksVW5pdGVkIFN0YXRlcyw2NDcwMDAsLDAuMDAxOTc3Mzg0LDEyNzkuMzY3MzU5DQo=" download>SLCA Equation Example_2</a></li>
        <li><a href="data:text/txt;base64,SW5kaWNhdG9yLE1ldHJpYyxMb2NhdGlvbixWYWx1ZSxUb3RhbCBQb3B1bGF0aW9uLFdlaWdodCx3X2kNCkxpZmUgRXhwZWN0YW5jeSxDYW5jZXIgTW9ydGFsaXR5LFVuaXRlZCBTdGF0ZXMsNjE2NzE0LDMyNzIwMDAwMCwwLjAwMTg4NDgyMywxMTYyLjM5NjU3DQosSGVhcnQgRGlzZWFzZSBNb3J0YWxpdHksVW5pdGVkIFN0YXRlcyw2NDcwMDAsLDAuMDAxOTc3Mzg0LDEyNzkuMzY3MzU5DQosLCwsLCwNCkhlYWx0aCxDYW5jZXIgTW9ydGFsaXR5LFVuaXRlZCBTdGF0ZXMsNjE2NzE0LDMyNzIwMDAwMCwwLjAwMTg4NDgyMywxMTYyLjM5NjU3DQosSGVhcnQgRGlzZWFzZSBNb3J0YWxpdHksVW5pdGVkIFN0YXRlcyw2NDcwMDAsLDAuMDAxOTc3Mzg0LDEyNzkuMzY3MzU5DQo=" download>SLCA Equation Example</a></li>
        <li><a href="data:text/txt;base64,PDw8PDw8PCBIRUFEDQpJbmRpY2F0b3IsTWV0cmljLExvY2F0aW9uLE1hc3MsQ29zdA0KQ3VwIEV4YW1wbGUsLFVTQSwxMCwxMA0KLCxVU0EsMTAsMTANCj09PT09PT0NCu+7v0luZGljYXRvcixSYXcgTWF0ZXJpYWwgTWFzcyxDb2xlY3Rpb24vVHJhbnNwb3J0YXRpb24gQ29zdA0KQ3VwIEV4YW1wbGUsMTAsMTANCiwxMCwxMA0KPj4+Pj4+PiBtYXN0ZXINCg==" download>SLCA_Cup_Example</a></li>
        <li><a href="data:text/txt;base64,77u/SW5kaWNhdG9yLE1ldHJpYyxMb2NhdGlvbixTY29yZSxUb3RhbCBTY29yZQ0KQmFzaWMgRWR1Y2F0aW9uLE1hdGggU2tpbGxzIChvdXQgb2YgNTAwIHNjb3JlKSxVbml0ZWQgU3RhdGVzLDI0MCw1MDANCixSZWFkaW5nIFNraWxscyAob3V0IG9mIDUwMCBzY29yZSksVW5pdGVkIFN0YXRlcywyMjIsNTAwDQo=" download>SLCA_Education_Example</a></li>
        <li><a href="data:text/txt;base64,77u/SW5kaWNhdG9yLE1ldHJpYyxMb2NhdGlvbixTY29yZSxUb3RhbCBTY29yZQ0KSGVhbHRoY2FyZSxTYXRpc2ZhY3Rpb24gd2l0aCBIZWFsdGhjYXJlIChvdXQgb2YgMTAwIHNjb3JlKSxJZGFobyw3NiwxMDANCixQb3AuIHdpdGggUmVndWxhciBGYW1pbHkgRG9jICgjIHZpc2l0cyBwZXIgMTAwIHBlb3BsZSBwZXIgeWVhciksVW5pdGVkIFN0YXRlcyw2My43LDEwMA0K" download>SLCA_Healthcare_Example_1</a></li>
        <li><a href="data:text/txt;base64,77u/SW5kaWNhdG9yLE1ldHJpYyxMb2NhdGlvbixTY29yZSxUb3RhbCBTY29yZQ0KSGVhbHRoY2FyZSxTYXRpc2ZhY3Rpb24gd2l0aCBIZWFsdGhjYXJlIChvdXQgb2YgMTAwIHNjb3JlKSxJZGFobyw2MCwxMDANCixQb3AuIHdpdGggUmVndWxhciBGYW1pbHkgRG9jICgjIHZpc2l0cyBwZXIgMTAwIHBlb3BsZSBwZXIgeWVhciksVW5pdGVkIFN0YXRlcyw1My43LDEwMA0K" download>SLCA_Healthcare_Example_2</a></li>
        <li><a href="data:text/txt;base64,77u/SW5kaWNhdG9yLE1hc3MsRW1pc3Npb24gRmFjdG9yIERvd24sIERpc3RhbmNlDQpQZG93biBFeGFtcGxlLDEwLDEwLDEwDQosMTAsMTAsMTANCg==" download>SLCA_Pdown_Example</a></li>



      </ul>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='src/plans.js')}}"></script>
{% endblock %}
