
# vagrant
.vagrant

# Python
__pycache__/
*.py[cod]
*$py.class

# Flask
instance

# Jetbrains
.idea

# vscode
.vscode

# swap files
*.swp

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
password.txt
.DS_Store
*.crt
*.key
*.webm
/proxy/certs/
.DS_Store
