{% extends "layout.html" %} {% block content %}
<div id="login" class="panel">
  <div class="main mb-2 mt-4" style="width: 70%">

    <h1 class="mb-2">Account Login</h1>
    {% if isError %}
    <h2 style="color: red">{{ error[0] }}</h2>
    {% endif %}

    <form method="post" onsubmit="return validateForm();">
      <label for="email">Email:</label><br />
      <input type="text" id="email" name="email" class="px-2 py-1 rounded-lg border bg-white"/>
      <span style="color: red" id="emailErrorMSG"></span><br /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" autocomplete="off" class="px-2 py-1 rounded-lg border bg-white"/>
      <a href="{{ url_for('auth.forgot_password') }}" class="py-1 px-2 rounded-md border border-gray-400 bg-white"> Forgot Password?</a>
      <span style="color: red" id="passwordErrorMSG"></span><br /><br />
      <input type="submit" value="Login" class="px-2 py-1 rounded-lg border border-gray-400 bg-white mr-2" />
      <button
        type="button"
        class="py-1 px-2 rounded-lg border border-gray-400 bg-white"
        onclick="window.location.href='{{ url_for('auth.register') }}';"
      >
        Create New Account
      </button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='src/login_events.js')}}"></script>
{% endblock %}
