{% extends "layout.html" %} {% block content %}
<article id="login" class="panel">
  <div class="main" style="width: 70%">

    <h1>Password Reset</h1>
    {% if isError %}
    <h2 style="color: red">{{ error[0] }}</h2>
    {% endif %}

    <form method="post">
      <label for="email">Email:</label><br />
      <input type="text" id="email" name="email" /> <br><br>
      <label for="new_password">New Password:</label><br />
      <input type="password" id="password" name="new_password" /><br><br>
      <input type="submit" value="Reset Password" />
    </form>
  </div>
</article>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/login_events.js')}}"></script>
{% endblock %}
