{% extends "layout.html" %} {% block content %}

<div id="home" class="container mx-auto px-2 py-4 mt-2">
    <section class="py-5 px-3">
        <div class="container text-center">
            <div class="max-w-lg mx-auto mb-16">
                <span class="inline-block py-1 px-3 text-base font-semibold bg-blue-100 text-black-600 rounded-xl"> About Our Team</span>   
                <!-- <h2 class="text-3xl md:text-4xl mt-2 mb-4 font-bold font-heading"> Construction Collaborative Research <span class="text-yellow-500"> Contributors </span></h2>
                <p class="text-blueGray-400 leading-loose">Our research contributors includes PIs, graduate students, and undergrad students, and collaborators.</p> -->
            </div>
            
                <h1 class="float-left text-3xl font-bold text-left" style="text-align: left;">Principal Investigators (PIs)</h1>
                <hr class="w-48 h-1 my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
             
            <div class="flex flex-wrap -mx-5">
                <div class="w-1/2 lg:w-1/4 px-5 mb-12">
                    <div class="hover-up-5 pt-8 pb-8 px-4 text-center bg-white rounded shadow wow animate__ animate__fadeInUp animated border border-gray-100 hover:border-gray-200 animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <img class="mb-6 h-24 w-24 mx-auto rounded-full object-cover object-top" src="../static/Images/Principal Investigators/Abbas Rashidi.jpg" alt="">
                        <strong class="mt-6 mb-2 text-md">Abbas Rashidi</strong>
                        <p class="text-gray-500 text-xs mt-3">Professor</p>
                        <p class="text-gray-500 text-xs mt-1">University of Utah</p>
                    </div>
                </div>
                <div class="w-1/2 lg:w-1/4 px-5 mb-12">
                    <div class="hover-up-5 pt-8 pb-8 px-4 text-center bg-white rounded shadow wow animate__ animate__fadeInUp animated border border-gray-100 hover:border-gray-200 animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <img class="mb-6 h-24 w-24 mx-auto rounded-full object-cover object-top" src="../static/Images/Principal Investigators/Amin Mirkouei.jpg" alt="">
                        <strong class="mt-6 mb-2 text-md">Amin Mirkouei</strong>
                        <p class="text-gray-500 text-xs mt-3">Professor</p>
                        <p class="text-gray-500 text-xs mt-1">University of Idaho</p>
                    </div>
                </div>
                <div class="w-1/2 lg:w-1/4 px-5 mb-12">
                    <div class="hover-up-5 pt-8 pb-8 px-4 text-center bg-white rounded shadow wow animate__ animate__fadeInUp animated border border-gray-100 hover:border-gray-200 animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <img class="mb-6 h-24 w-24 mx-auto rounded-full object-cover object-top" src="../static/Images/Principal Investigators/Cynthia Furse.jpg" alt="">
                        <strong class="mt-6 mb-2 text-md">Cynthia Furse</strong>
                        <p class="text-gray-500 text-xs mt-3">Professor</p>
                        <p class="text-gray-500 text-xs mt-1">University of Utah</p>
                    </div>
                </div>
                <div class="w-1/2 lg:w-1/4 px-5 mb-12">
                    <div class="hover-up-5 pt-8 pb-8 px-4 text-center bg-white rounded shadow wow animate__ animate__fadeInUp animated border border-gray-100 hover:border-gray-200 animated" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                        <img class="mb-6 h-24 w-24 mx-auto rounded-full object-cover object-top" src="../static/Images/Principal Investigators/Marshall (Xiaogang) Ma.jpg" alt="">
                        <strong class="mt-6 mb-2 text-md">Marshall (Xiaogang) Ma</strong>
                        <p class="text-gray-500 text-xs mt-3">Professor</p>
                        <p class="text-gray-500 text-xs mt-1">University of Idaho</p>
                    </div>
                </div>
            </div>

            
            <h1 class="float-left text-3xl font-bold text-left" style="text-align: left;">Graduate Students</h1>
            <hr class="w-48 h-1 my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
         
        <div class="flex flex-wrap -mx-5">
            <div class="w-1/2 lg:w-1/4 px-5 mb-12">
                <div class="hover-up-5 pt-8 pb-8 px-4 text-center bg-white rounded shadow wow animate__ animate__fadeInUp animated border border-gray-100 hover:border-gray-200 animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <img class="mb-6 h-24 w-24 mx-auto rounded-full object-cover object-top" src="../static/Images/Graduate Students/Henok.jpg" alt="">
                    <strong class="mt-6 mb-2 text-md">Henok Tadele</strong>
                    <p class="text-gray-500 text-xs mt-3">Research Assistant</p>
                    <p class="text-gray-500 text-xs mt-1">University of Idaho</p>
                </div>
            </div>
            <div class="w-1/2 lg:w-1/4 px-5 mb-12">
                <div class="hover-up-5 pt-8 pb-8 px-4 text-center bg-white rounded shadow wow animate__ animate__fadeInUp animated border border-gray-100 hover:border-gray-200 animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <img class="mb-6 h-24 w-24 mx-auto rounded-full object-cover object-top" src="../static/Images/Graduate Students/George Makrakis.JPG" alt="">
                    <strong class="mt-6 mb-2 text-md">George Makrakis</strong>
                    <p class="text-gray-500 text-xs mt-3">Research Assistant</p>
                    <p class="text-gray-500 text-xs mt-1">University of Idaho</p>
                </div>
            </div>
            <div class="w-1/2 lg:w-1/4 px-5 mb-12">
                <div class="hover-up-5 pt-8 pb-8 px-4 text-center bg-white rounded shadow wow animate__ animate__fadeInUp animated border border-gray-100 hover:border-gray-200 animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <img class="mb-6 h-24 w-24 mx-auto rounded-full object-cover object-top" src="../static/Images/Graduate Students/Koffi Anderson.PNG" alt="">
                    <strong class="mt-6 mb-2 text-md">Koffi Anderson</strong>
                    <p class="text-gray-500 text-xs mt-3">Research Assistant</p>
                    <p class="text-gray-500 text-xs mt-1">University of Idaho</p>
                </div>
            </div>
            <div class="w-1/2 lg:w-1/4 px-5 mb-12">
                <div class="hover-up-5 pt-8 pb-8 px-4 text-center bg-white rounded shadow wow animate__ animate__fadeInUp animated border border-gray-100 hover:border-gray-200 animated" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                    <img class="mb-6 h-24 w-24 mx-auto rounded-full object-cover object-top" src="../static/Images/Graduate Students/Kurt Vedros.jpeg">
                    <strong class="mt-6 mb-2 text-md">Kurt Vedros</strong>
                    <p class="text-gray-500 text-xs mt-3">Research Assistant</p>
                    <p class="text-gray-500 text-xs mt-1">University of Idaho</p>
                </div>
            </div>

            <div class="w-1/2 lg:w-1/4 px-5 mb-12">
                <div class="hover-up-5 pt-8 pb-8 px-4 text-center bg-white rounded shadow wow animate__ animate__fadeInUp animated border border-gray-100 hover:border-gray-200 animated" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                    <img class="mb-6 h-24 w-24 mx-auto rounded-full object-cover object-top" src="../static/Images/Graduate Students/Mina Golazad.jpg">
                    <strong class="mt-6 mb-2 text-md">Mina Golazad</strong>
                    <p class="text-gray-500 text-xs mt-3">Research Assistant</p>
                    <p class="text-gray-500 text-xs mt-1">University of Utah</p>
                </div>
            </div>
        
        </div>

        
        <h1 class="float-left text-3xl font-bold text-left" style="text-align: left;">Undergraduate Student</h1>
        <hr class="w-48 h-1 my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
     
    <div class="flex flex-wrap -mx-5">
        <div class="w-1/2 lg:w-1/4 px-5 mb-12">
            <div class="hover-up-5 pt-8 pb-8 px-4 text-center bg-white rounded shadow wow animate__ animate__fadeInUp animated border border-gray-100 hover:border-gray-200 animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <img class="mb-6 h-24 w-24 mx-auto rounded-full object-cover object-top" src="../static/Images/Undergraduate Students/Nathan Thompson.jpg" alt="">
                <strong class="mt-6 mb-2 text-md">Nathan Thompson</strong>
                <p class="text-gray-500 text-xs mt-3">Research Assistant</p>
                <p class="text-gray-500 text-xs mt-1">BYU-Idaho</p>
            </div>
        </div>
    </div>

    
    <h1 class="float-left text-3xl font-bold text-left" style="text-align: left;">Collaborators</h1>
    <hr class="w-48 h-1 my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
 
<div class="flex flex-wrap -mx-5">
    <div class="w-1/2 lg:w-1/4 px-5 mb-12">
        <div class="hover-up-5 pt-8 pb-8 px-4 text-center bg-white rounded shadow wow animate__ animate__fadeInUp animated border border-gray-100 hover:border-gray-200 animated" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <img class="mb-6 h-24 w-24 mx-auto rounded-full object-cover object-top" src="../static/avatar-about.png" alt="">
            <strong class="mt-6 mb-2 text-md">Allen Mayo</strong>
            <p class="text-gray-500 text-xs mt-1">Shoshone-Bannock Jr/Sr High School in Fort Hall, Idaho</p>
        </div>
    </div>
</div>


        </div>
    </section>
        
    
     

   
</div>{% endblock %}
