<div class="header">
    <div class="logo-container">
        <a href="https://www.uidaho.edu/idaho-falls">
            <img src="{{ url_for('static', filename='Images/UI_3.jpg') }}" alt="University of Idaho" class="logo" />
        </a>
    </div>
    <a href="http://cycon.nkn.uidaho.edu/" class="title">CyberTraining</a>
    <div class="logo-container">
        <a href="https://webpages.uidaho.edu/rsml/lca.html">
            <img src="{{ url_for('static', filename='Images/rsml-1_3.jpg') }}" alt="Research and Innovation in Sustainable Manufacturing and Materials" class="logo" />
        </a>
    </div>
</div>
