<div class="header">
    <div class="logo-container">
        <a href="https://www.uidaho.edu/idaho-falls">
            <img src="{{ url_for('static', filename='Images/UI_3.jpg') }}" alt="University of Idaho" class="logo" />
        </a>
    </div>
    <div class="logo-container">
        <a href="https://www.nsf.gov/">
            <img src="{{ url_for('static', filename='Images/nsf.jpg') }}" alt="NSF" class="logo" />
        </a>
    </div>
    <div class="logo-container">
        <a href="https://www.utah.edu/">
            <img src="{{ url_for('static', filename='Images/uofutah.png') }}" alt="University of Utah" class="logo" />
        </a>
    </div>
</div>
