<div class="flex flex-row items-center w-full">
    <div class="grid grid-cols-3 place-content-evenly place-items-center w-full">
        <a class="" href="https://www.uidaho.edu/idaho-falls">
            <img src="{{ url_for('static', filename='Images/UI_3.jpg') }}" alt="University of Idaho"
                 class="h-12 text-center" />
        </a>
        <a class="" href="https://www.nsf.gov/">
            <img src="{{ url_for('static', filename='Images/nsf.jpg') }}" alt="NSF"
                 class="h-12 text-center" />
        </a>
        <a class="" href="https://www.utah.edu/">
            <img src="{{ url_for('static', filename='Images/uofutah.png') }}" alt="University of Utah"
                 class="h-12 text-center" />
        </a>
    </div>
</div>
