{% extends "layout.html" %}
{% block content %}
  <div id="home" class="panel">
    <div class="main" style="width: 70%">
      {% if g.user %}

      <h1>Welcome {{ g.user['last_name'] }}</h1>

      <h5>Email: {{g.user['email']}}</h5>

      <h5>First name: {{g.user['first_name']}}</h5>

      <h5>Last name: {{g.user['last_name']}}</h5>

      <h5>Affiliation: {{g.user['affiliation']}}</h5>
      {% endif %}

      <h1>This will be the home page eventually.</h1>

      <p>Will add information about the concept, work, and
      contributors later.</p>
    </div>
  </div>
{% endblock %}
