<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CyCon</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{url_for('static', filename='js/alpinejs.min.js')}}" defer></script>
    {% block head %}
    {% endblock %}
  </head>

  <body class="bg-gray-100 text-gray-900 font-roboto antialiased w-screen h-screen overflow-y-scroll">
    <div class="flex flex-row h-full">

      {% include 'sidenav.html' %}

      <div class="flex flex-col w-full h-full">
        <div class="flex shadow-lg h-24 p-4 w-full bg-white">
          {% include 'header.html' %}
        </div>

        <div class="flex flex-col h-full mb-6">

          <div class="flex flex-col h-full overflow-y-scroll mb-6">
            {% block content %}
            {% endblock %}

            {% include 'flash.html' %}
          </div>

        </div>

      </div>
    </div>

    <footer class="w-full bg-gray-700 text-white p-6">
      Copyright <span>&copy; CyCon</span> 2023 <span>version 1.07.26</span>
    </footer>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
