{% extends "layout.html" %} {% block content %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

<div id="home" class="container mx-auto px-2 py-4 mt-2">
    <div class="main mt-4 mb-2" style="width: 70%">
        <div class="flex">
            <div class="flex justify-center items-center mb-2">
                <img src="{{ url_for('static', filename='Images/modules.png') }}" alt="" width="680px" height="680px" class="block mt-2" />
            </div>
        </div>

    </div>
</div>{% endblock %}
