<div x-data="{ selected: window.location.pathname}"
     class="flex flex-col w-64 p-4 bg-gray-900 font-semibold text-xl text-brand">
    <div class="flex flex-col">
        {% if not g.user %}
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/'}"
           href="{{ url_for('index') }}">Home</a>
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/auth/register'}"
           href="{{ url_for('auth.register') }}">Register</a>
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/auth/login'}"
           href="{{ url_for('auth.login') }}">Log In</a>
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/modules'}"
           href="{{ url_for('modules.index') }}">Modules</a>
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/about'}"
           href="{{ url_for('about.index') }}">Team</a>
         <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/gallery'}"
           href="{{ url_for('gallery.index') }}">Gallery</a>
        {% else %}
        {% if g.user['status'] != 'active' %}
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/auth/activation'}"
           href="{{ url_for('auth.activation') }}">Activation</a>
        {% else %}
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/modules'}"
           href="{{ url_for('modules.index') }}">Modules</a>
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/auth/plans'}"
            href="{{ url_for('auth.plans') }}">Plans</a>
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/experiments/cycon'}"
           href="{{ url_for('experiments.cycon') }}">ML/AI</a>
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/experiments/lca'}"
           href="{{ url_for('experiments.lca') }}">LCA</a>
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/datasets'}"
           href="{{ url_for('datasets.index') }}">Datasets</a>
        <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/about'}"
           href="{{ url_for('about.index') }}">Team</a>
           <a class="hover:text-slate-200"
           :class="{'text-slate-100': selected === '/gallery'}"
           href="{{ url_for('gallery.index') }}">Gallery</a>
        <a class="hover:text-slate-200" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% endif %}
        {% endif %}
    </div>
</div>
